body {
    background-color: #EFF2FF;
}

.none {
    display: none;
}

.aaf-container {

    max-width: 1200px;
    margin: 100px auto;

}

.aaf-container h1 {
    text-align: center;
}

.survey-container {
    width: 70%;
    min-height: 280px;
    background: #ffffff;
    box-shadow: 0 30px 250px rgb(0 0 0 / 5%);
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px;
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    display: flex;
    background-color: #F1F1F1;
    height: 30px;
    border-radius: 5px;
}

.progress-bar_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #469af7;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    color: #F1F1F1;
    transition-duration: 1s;
}

.survey {
    width: 100%;
    overflow: hidden;
}

.questions {
    color: #1C1C1C;
}

.survey-form {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    color: #1C1C1C;
}

.survey-form label {
    font-size: 18px;
}

.radio {
    margin-bottom: 0.4em;
}

.answers {
    display: flex;
    transition-duration: 1s;
}

.group {
    min-width: calc(100% - 20px);
    padding: 0 10px;
}


/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
    border-color: #044B9B;
    background-color: #044B9B;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
    background-color: #e9ecef;
}

.survey-footer {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.survey-footer a {

    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color: #0093ff;
    border: 1px solid #469af7;
    position: relative;
}

.next {
    display: flex;
    padding: 10px 30px 10px 15px;
}

.next svg {
    position: absolute;
    right: 5px;
}

.prev {

    padding: 10px 15px 10px 30px;
}

.prev svg {
    position: absolute;
    left: 5px;
}


.survey-footer a:hover {
    background-color: #dfe8f2;
}

.btn-finish {
    align-items: center;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #469af7;
    background-color: #469af7;
    padding: 10px 20px;
    cursor: pointer;
}

.detached, .circumspect, .initiative, .hyperactive {
    display: none;
}

.results .text h3  {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}



/*Preloader start*/
.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}

.load {
    display: none;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}



.load :first-child {
    background: #469af7;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #469af7;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #469af7;
    animation-delay: -0.5s
}

.load :last-child {
    background: #469af7;
}

@keyframes spin {
    0%, 100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}

/*Preloader end*/

